.work-card {
  width: 350px;
  height: 500px;
  overflow: hidden;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: rgba(214, 91, 144, 0.765) 0px 2px 4px 0px,
    rgba(134, 64, 141, 0.772) 0px 2px 16px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.work-card .work-container {
  height: 87%;
  padding: 20px;
  box-sizing: border-box;
}

.work-card .work-container .title {
  font-size: 1em;
}

.work-card .work-buttons {
  height: 13%;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-top: medium solid rgba(214, 91, 144, 0.765);
}

.work-card .work-buttons a {
  margin: 10px;
  color: rgba(120, 6, 56, 0.765);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: bold;
  padding: 0.2em 0.4em;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  font-size: 0.7em;
}

.work-card .work-buttons a:hover {
  border: none;
  color: rgba(214, 21, 105, 0.765);
}

.work-card .title {
  margin: 0;
}

.work-card .img-container {
  height: 50%;
  width: 100%;
}

.work-card .description-container {
  height: 40%;
  display: flex;
  flex-direction: column;
}

.work-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.work-card .work-description {
  font-size: 0.7em;
  font-weight: 600;
  color: #b44c5f;
  margin: 0;
  flex-grow: 1;
  overflow: hidden; /* Hide the overflow text */
}

.work-card span {
  font-size: 0.6em;
  height: 10%;
  cursor: pointer;
}

.work-card span:hover {
  color: #b44c5f;
}

@media (max-width: 767px) {
  .work-card {
    width: 100%;
    height: 400px;
  }

  .work-card .work-container .title {
    font-size: 0.7em;
  }

  .work-card .work-description {
    font-size: 0.5em;
  }
}
