.portfolio-introduction {
  margin: 50px;
}

.portfolio-introduction .downloadResume {
  color: #800020;
  font-size: 0.8em;
}

.portfolio-introduction .downloadResume a {
  cursor: pointer;
  text-decoration: underline;
  color: #ec4775;
}

.portfolio-introduction .portfolio-intro-title {
  color: #800020;
  text-transform: uppercase;
  font-size: 3em;
  font-family: 'Morganite-Black', sans-serif;
  letter-spacing: 8px;
}
.portfolio-intro-para .intro-phrase {
  font-weight: bold;
  font-size: 1.5em;
  color: #ec4775;
  margin-bottom: 50px;
}

.portfolio-introduction .portfolio-intro-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5em;
}

.portfolio-introduction .portfolio-intro-para {
  font-size: 0.7em;
  font-weight: 600;
  margin-right: 80px;
  color: #b44c5f;
}

.portfolio-introduction .portfolio-intro-img {
  width: 350px;
  height: 350px;
}

/*Mobile*/
@media (max-width: 767px) {
  .portfolio-introduction {
    margin: 0;
  }
  .portfolio-introduction .portfolio-intro-title {
    font-size: 1.5em;
    margin: 0;
  }

  .portfolio-introduction .downloadResume {
    font-size: 0.5em;
  }

  .portfolio-introduction .portfolio-intro-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0.4em;
  }

  .portfolio-intro-para .intro-phrase {
    font-size: 1.2em;
  }

  .portfolio-introduction .portfolio-intro-para {
    font-size: 0.5em;
    margin: 0;
  }

  .portfolio-introduction .portfolio-intro-img {
    width: 200px;
    height: 200px;
  }
}

/*Tablet*/
@media (max-width: 1024px) {
  .portfolio-introduction .portfolio-intro-details {
    padding: 0;
  }

  .portfolio-intro-para .intro-phrase {
    font-size: 1.2em;
  }
}
