body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #f7f2ec;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px; /* Adjust the size of the speckles */
  background-position: 5px 5px, 15px 20px, 30px 10px, 45px 25px, 60px 15px,
    75px 5px, 90px 30px, 105px 20px, 120px 10px, 135px 25px;
}
